<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyn.bean.Employee">
    <!--
    namespace:名称空间;指定为接口的全类名
    id：唯一标识
    resultType：返回值类型
    #{id}：从传递过来的参数中取出id值

    public Employee getEmpById(Integer id);
     -->
    <select id="getEmpById" resultType="com.wyn.bean.Employee">/*namespace*/
		select id,last_name lastName,email,gender from tbl_employee where id = #{id}
	</select>
    <select id="getEmpById" resultType="com.wyn.bean.Employee" databaseId="sql">
		select id,last_name lastName,email,gender from tbl_employee where id = #{id}
	</select>

    <!--	public void addEmp(Employee employee);-->
    <!--parameterType 可以省略-->
    <insert id="addEmp" parameterType="wyn.bean.Employee">
		insert into tbl_employee(last_name,email,gender) values(#{lastName},#{email},#{gender})
	</insert>

    <!--	public void updateEmp(Employee employee);-->
    <update id="updateEmp">
	update tbl_employee set lastName=#{lastName},email=#{email},gender=#{gender} where id =#{id}

</update>
    <!--	public void deleteEmp(Integer id);-->
	<delete id="deleteEmp">
		delete from tbl_employee where id=#{id}
	</delete>
</mapper>