<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyn.mapper.DeptMapper">

    <select id="getDeptByStepOne" resultType="com.wyn.pojo.Dept">
        select *from dept where did=#{did}
    </select>

    <resultMap id="deptAndEmpResultMap" type="com.wyn.pojo.Dept">
        <id property="did" column="did"/>
        <result property="deptName" column="dept_name"/>
        <collection property="emps" ofType="emp">
            <id property="eid" column="eid"></id>
            <result property="empName" column="emp_name"/>
            <result property="email" column="email"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
        </collection>
    </resultMap>
    <select id="getDeptAndEmp" resultMap="deptAndEmpResultMap">
        select *from dept left join emp on dept.did = emp.did where dept.did=#{did}
    </select>


    <resultMap id="deptAndEmpStepResultMap" type="com.wyn.pojo.Dept">
        <id property="did" column="did"/>
        <result property="deptName" column="dept_name"/>
        <collection property="emps"
                    select="com.wyn.mapper.EmpMapper.getDeptAndEmpByStepTwo"
                    column="did">

        </collection>
    </resultMap>
    <select id="getDeptAnaEmpByStepOne" resultMap="deptAndEmpStepResultMap">
        select * from dept where did = #{did}
    </select>
</mapper>